{% extends 'TwigBundle:Exception:error.html.twig' %}
{% block error_icon %}
  <i class="fa fa-hdd-o fa-stack-2x"></i>
  <i class="fa fa-wrench text-muted fa-stack-1x"></i>
{% endblock %}
{% block error_title %}{{ 'app.error.503.title'|trans }}{% endblock %}
{% block error_description %}
  <p>{{ 'app.error.503.description'|trans }}</p>
{% endblock %}
