# {{ ansible_managed }}
parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     hermes
    database_user:     hermes
    database_password: hermes

    oauth_client_server: http://192.168.80.2
    oauth_client_id: 8_6db2htrz9u4o84w4oskk8so84cgog0wok00ockokgws40cw8o0
    oauth_client_secret: 17oj5x0amcao408440wck8gckoo48okws48sogw0wsks4sg8cs

    authserver_base_uri:     '%oauth_client_server%'
    authserver_api_username: -apikey-5
    authserver_api_password: 61fnbx6z9r8kkwos80c4o8kc0s04gckwcgc8wsc4s48ososows

    secret: {{ random.stdout }}
